ul {
    margin: 0;
    padding: 0;
}

body {
    margin: 0%;
}

#barra {
    height: 25px;
    width: 1px;
    background-color: rgb(195, 212, 224);
}

#grey-bar {
    height: 30px;
    width: 1px;
    background-color: rgb(195, 212, 224);
}

header {
    margin: 20px 9%;
    position: relative;

}

header nav {
    right: 0;
    position: absolute;
}

header nav, header .logo {
    display: inline-block;
}

.logo ul li{
    display: inline-block;
    vertical-align: middle;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: rgb(87, 136, 226);
}

nav ul li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px;
    font-family: Arial Narrow, sans-serif;
    font-size: 13px;
    font-weight: lighter;
    color: rgb(29, 95, 216);
}

nav ul li:hover {
    cursor: pointer;
}

.local {
    background: rgb(245, 245, 245);
    padding: 0 9% 3px 9%;
    margin: 0;
}

.local p {
    vertical-align: middle;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.page {
    font-family: Arial Narrow, sans-serif;
    font-size: 13px;
    font-weight: lighter;
    color: rgb(12, 63, 158);
}

.session {
    font-family: Arial Narrow, sans-serif;
    font-size: 13px;
    font-weight: lighter;
    color: rgb(161, 161, 161);
    word-spacing: 5px;
    padding: 0 0 0 5px;
}

.principal-title {
    margin: 30px 9%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

.title {
    margin: 0 7px 20px 7px ;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 7px ;
}

.subtitle {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 20px;
    font-weight: bold;
    margin: 0 10px ;
    padding: 50px 0 0 0;
}

.painel {
    text-align: center;
}

.buttons {
    text-align: center;
    margin: 70px 200px;
}


.buttons ul li {
    display: inline-block;
    vertical-align: middle;
}

.buttons ul li p, .buttons ul li img, #grey-bar{
    margin: 0 10px 0 0;
    display: inline-block;
    vertical-align: middle;
    font-family: monospace;
    font-weight: bolder;
    font-size: 17px;
}

.buttons ul li img {
    width: 50px;
}

.big-box {
    padding: 0 7% 25px 7%;
    background: rgb(233, 232, 232);
    margin: 0 0 85px 0;
}

.big-box h1 {
    padding: 50px 0 0 0;
}


.big-box-line {
    height: 1px;
    margin: 7px 1% ;
    background: rgb(0, 59, 126);
}

.box {
    width: 48%;
    display: inline-block;
    margin: 10px 1%;
    background: white;
    vertical-align: top;
}

.box-line {
    width: 100%;
    height: 0.4px;
    background: rgb(206, 206, 206);
    margin: 20px 0 5px 0;
}

.box img {
    width: 100%;
}

.box-without-padding {
    padding: 0 0 0 0;
}

.box h3, .mini-box h3 {
    margin: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.box p, .mini-box p {
    margin: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.box .brand-logo, .mini-box .brand-logo {
    width: 100px;
    margin: 10px;
}

.mini-boxes {
    margin: 0 0 40px 0
}

.mini-box {
    display: inline-block;
    margin: 7px 1%;
    width: 31.333%;
    background: white;
    vertical-align: top;
}

.mini-box .mini-box-image {
    display: inline-block;
    width: 100%;
}

.red-line {
    height: 3px;
    width: 100%;
    background: rgb(143, 28, 28);
}

.new-product {
    width: 94px;
    background: rgb(143, 28, 28);
    color: white;
    margin: 0 0 0 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    padding: 0 3px;
}

p {
    margin: 0;
}

#topicos h1 {
    padding: 40px 0 20px 0;
}

.links-relacionados {
    padding: 0 7% 25px 7%;
    margin: 0 0 85px 0;
}

.links-relacionados hr{
    width: 98.6%;
    height: 0.4px;
    background: rgb(206, 206, 206);
    margin: 10px 0.7% 5px 0.7%;
}

.micro-boxes {
    display: inline-block;
}

.micro-box {
    width: 23%;
    display: inline-block;
    background: rgb(233, 232, 232);
    vertical-align: top;
    margin: 1%;
}

.micro-box img {
    width: 90%;
    margin: 5%;
}

.micro-box h3{
    width: 90%;
    margin: 0 5% 20px 5%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 17px;
}

.mini-boxes .micro-box {
    vertical-align: top;
}

.line-micro {
    text-align: center;
}

.suport-menu {
    margin: 0 7px ;
}

.suport-menu li {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 17px;
    display: inline-block;
    background:  rgb(233, 232, 232);
    padding: 12px;
    margin: 40px 10px 0 0 ;
}

.footer-line{
    height: 1px;
    width: 100%;
    background: rgb(206, 206, 206);
}

.footer-local {
    padding: 0 7% 10px 7%;
    margin: 20px 0 0 20px;
}

.footer-local p{
    display: inline-block;
    
}

.footer-links-search {
    background: rgb(221, 220, 220);
    padding: 0 8.5% 25px 8.5%;
}



.links li {
    display: inline-block;
    width: 25%;
    vertical-align: top;
    padding: 20px 0 0 0 ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: rgb(83, 83, 83);
    font-weight:500;
}

.links li p {
    margin: 10px 0;
}

.links li p:first-child {
    font-weight: 500;
    color: rgb(26, 25, 25);
    font-style: italic;
}

.siganos {
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}


.siganos li {
    display: inline-block;
    vertical-align: middle;
    text-align: right;
}

.siganos img {
    width: 30px;
}

.input-search {
    padding: 10px 40px;
}

